
#custom-overflow {
  overflow:hidden;
}
.swal2-icon.swal2-icon-show {
  overflow: hidden;
}

.custom-select {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #6feded;
  width: fit-content;
  min-width: 200px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  color: black;
  font-size: 1.2rem;
}
.custom-select:hover {
  background-color: rgb(7, 155, 155);
  color: rgb(235, 229, 229);
}
.flex-container {
  display: flex;
  align-items: center;
}

.ui.circular.image {
  width: 100px;
  height: 100px;
  border: 5px solid #e6eded;
}
.centered-text {
  white-space: nowrap;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: #009e99;
  font-weight: bold;
  border-bottom: 8px solid #4adfda;
}
.custom-header {
  color: #009e99;
  font-weight: 900;
}
.row.custom-bg {
  background-image: url("https://img.freepik.com/free-vector/elegant-subtle-triangle-shapes-abstract-banner-design_1017-25887.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.mentor-bio {
  font-size: 1.3rem;
}
.mentor-content h3 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 0px;
}
.mentor-content {
  padding-top: 80px;
}
.mentor-content h3 span {
  font-weight: bold;
  color: #009e99;
}
.mentor-badge {
  width: 60px;
  height: 60px;
}
.ui.medium.circular.image {
  border-color: #fefefe;
  border-width: 12px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.large.header {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -0.03em;
  font-family: futura-pt;
}

input {
  padding: 8px;
  color: black;
  background-color: #4adfda;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  border: none;
  outline: none;
}
input:hover {
  background-color: #009e99;
}
.ui.colored.header {
  font-weight: bold;
  color: white;
}
