
.flex-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.ui.italized.header {
  font-style: italic;
  color: rgb(2, 34, 2);
}
.card.content.header {
  font-weight: bold;
  color: rgb(113, 5, 39);
  text-align: center;
}
.ui.bold.header {
  color: white;
}
.ui.header strong {
  color: rgb(6, 175, 175);
  font-weight: 900;
}
.content-list p {
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: cursive;
}
.content-list ul li {
  text-align: justified;
  font-size: 1.3em;
  margin: 0 38%;
  line-height: 1.8;
}
