.footer {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  color:black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F3FE;
  color: black;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
  color:black;
  padding: 10px;
  font-size: 1.2em;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
}

.row-links ul li a {
  text-decoration: none;
  color:black;
  font-size: 1em;
  line-height: 2em;
}

.row-links ul li a:hover {
  color: #f2cc22;
}

.row-links ul li a:active {
  color: #0d88f4;
}

.row-links ul li {
  margin: 3px;
  padding: 2px;
}

form {
  position: relative;
}

.text-icon {
  display: flex;
  align-items: center;
}

.text-icon a {
  margin: 5px;
}

.text-icon p {
  margin: 5px;
  font-size: 14px;
}

.row-links input {
  background-color: white;
  border-radius: 20px;
  padding: 9px;
  width: 100%;
}
.row-links h5 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen and (min-height: 100vh) {
  footer {
    display: block;
  }
}

.row-links button {
  background-color: rgb(121, 38, 199);
  border-radius: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;
  width: 48px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
a{
  text-decoration: none;
}
.row-links button:hover {
  background-color: #222222;
  transform: scale(1.05);
}

.row-links button:active,
.row-links button:focus {
  background-color: #be87c0;
  transform: scale(0.95);
}

.row-links button:active:focus {
  transform: scale(0.95);
  transition: transform 0.3s ease-out, background-color 0.3s ease;
}

.row-links button:not(:active):focus {
  transition: transform 0.3s ease-out, background-color 0.3s ease;
}
