.sign-up{
  background-color: #9E3FFD;
  padding:15px;
  border-radius: 20px;
  color:white;
  border:none;
  font-size: 1.5em;
}
.sign-up:hover{
  background-color: #16163F;
}
.landing{
  height:100vh;
  background-image: url(../../../public/hero-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.landing-content {
  margin-left:5%;
  padding:20px;
 
}
.landing-content h1{
  font-size:5em;
  font-weight: bolder;
  font-family:sans-serif
  
}
.landing-content p{
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}
