.statistics {
  color: white;
}
.emphasis {
  text-align: center;
  font-size: 3em;
  margin: 20px;
}

.column {
  color: white;
  margin:50px 0px 50px 0px;
}

.column h1 {
  font-size: 3em;
  font-weight: 900;
  margin: 10px;
}

#organizations{
  background-color: #F8F0FF;
  margin-top: 20px;
}
#organizations h2{
  font-weight: normal;
  text-align: center;
}
.safaricom{
  margin-top: 30%;
  max-width: 300px;
}
.quote blockquote, .quote h2{
  font-size: 1.5em;
  text-align: center;
  line-height:2em;
  font-weight: bold;
  margin:auto 25%;
}
.testimonials {
  background-color: #640fb9;
  color:white;
  border:none;
  padding:40px;
}
.testimonials h1{
  text-align:center;
  margin: 20px;
}
