.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid rgb(245, 239, 239);
  border-radius: 10px;
  background-color: cadetblue;
}

.stat {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 15px;
  padding: 15px;
}

.stat-title {
  font-size: 22px;
  color: #423c3c;
  margin-top: 15px;
  padding: 15px;
}


/* Logos */

#organizations-container {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
  padding: 20px;
}

.organization-logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.organization-logo:hover {
  transform: scale(1.1);
}


.organisation-title{
    font-size: 26px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
