.main-login {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  width: 100%;
  height: 100%;
  
}


/* 
.ui.two.column.very.relaxed.grid {
  justify-content: center;
}

.column {
  flex-basis: 50%;
}

.column form {
  width: 100%;
  max-width: 400px;
}

.ui.big.button {
  width: 100%;
}

.column.login-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/*  */
