@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
=======

>>>>>>> onzere/MyAccount
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: normal;
}

ul li {
  list-style: none;
}

#card{
  overflow: hidden;
  height: auto;
} 

